.box {
  position: relative;
}

.form {
  position: absolute;
  /* top: 70px; */
}

.input {
  display: block;
  cursor: text;
  margin-top: 2px;
  font-size: 16px;
  padding-left: 6px;
}

.input:focus {
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(162, 252, 246);
}

.label {
  font-size: 13px;
}
