.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
  margin-top: 20px;
}

.container {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn {
  width: 30px;
  height: 30px;
  appearance: none;
  border-radius: 40em;
  border: 2px solid rgba(0, 0, 0, 0.5);

  color: #241b1b;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 0;
  margin-top: 12px;
  margin-left: calc(100% - 40px);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all linear 250ms;
}

.btn:hover {
  transform: scale(1.13);
  color: black;
  border: 2px solid rgb(0, 0, 0);
}

.add {
  width: fit-content;
  height: 34px;
  padding: 6px 10px;
  font-size: 14px;
  margin-left: 100px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: 300;
  margin-left: 100px;
}

.input {
  cursor: text;
  width: fit-content;
  margin: 2px 0 10px 0;
  font-size: 18px;
  font-weight: 500;
  padding-left: 6px;
}

.input:focus {
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(162, 252, 246);
}
