.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  color: rgba(56, 56, 56, 0.5);
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: 2px solid rgba(47, 47, 47, 0.3);
  background-color: transparent;
  transition: all 250ms linear;
}

.current {
  background-color: rgb(190, 222, 251);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: 2px solid rgb(0, 0, 0);
}

.btn:hover,
.btn:focus {
  border: 2px solid rgb(0, 0, 0);
}

.icon {
  vertical-align: text-bottom;
  padding: 0;
  font-size: 18px;
  margin-left: 6px;
}
