.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 40px;
}

.label {
  font-weight: 700;
  width: 330px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}

.input {
  width: 200px;
  font-size: 16px;
  line-height: 1.6rem;
  padding-left: 6px;
}

.input:focus {
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgb(233, 255, 152);
}

.btn {
  margin-top: 10px;
  width: fit-content;
  color: rgba(56, 56, 56, 0.6);
  background-color: white;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(47, 47, 47, 0.6);
  transform: scale(1.1);
  transition: all 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.2);
  color: rgb(37, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.icon {
  vertical-align: text-bottom;
  padding: 0;
  font-size: 18px;
  margin-left: 6px;
}

.mail {
  font-size: 17px;
}
