@import-normalize; /* bring in normalize.css styles */
@import 'reset-css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


.in_container {
  text-align: center;
  height: 68vh;
  padding: 20px;
}


.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

button {
  font-family: 'Quicksand', sans-serif;
}
