.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_mail {
  font-size: 15px;
}

.btn {
  color: rgba(56, 56, 56, 0.6);
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(47, 47, 47, 0.6);
  background-color: white;
  transition: all 250ms linear;
}

.btn:hover {
  color: rgb(37, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.icon {
  vertical-align: text-bottom;
  padding: 0;
  font-size: 18px;
  margin-left: 6px;
}
